*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000,#434343);
    font-size: 100px;
}

h1{
    color:white;
    font-size: 4rem;
    font-style: initial;
}